@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

h1,h2,h3,nav a, nav span, menu, #mainNav li, #socialsNav li, footer{
    font-family: Bebas Neue;
    font-weight: 400;
}
h1{
    font-size:40px;
}
h2{
    font-size:30px;
}
h3{
    font-size:25px;
}
nav a, nav span, #mainNav li,#socialsNav li, footer{
    font-size:20px;
}
p, dd, li, nav, input {
    font-family: Montserrat;
    font-size: 16px;
}
dt {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
}
nav li{
    list-style-type: none;
    margin:0;
}
#recipeNav p{
    visibility: hidden;
    height: 1px;
}
nav a{
text-decoration: none;
color:#EB5428;
}