h1,h2,h3,nav a, nav span, menu, #mainNav li, #socialsNav li, footer{
    font-family: Bebas Neue, regular;
}
h1{
    font-size:40px;
}
h2{
    font-size:30px;
}
h3{
    font-size:25px;
}
nav a, nav span, #mainNav li,#socialsNav li, footer{
    font-size:20px;
}
p, dd, li, nav, input {
    font-family: Montserrat, regular;
    font-size: 16px;
}
dt {
    font-family: Montserrat, bold;
    font-size: 16px;
}