@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

body{
    background-color:rgba(122,191,191,.5);
}
main,footer {
    background-color:#F2F2F2;
    margin-left:40px;
    margin-right:40px;
}

h1,h2,h3,nav a, nav span, menu, #mainNav li, #socialsNav li, footer{
    font-family: Bebas Neue;
    font-weight: 400;
}
h1,h2{
    text-align: center;
}
#recipeNav ul{
    display: grid;
    grid-template-columns: .5fr .5fr .5fr .5fr;
}
#streetTacos{
    width: 100%;
}
#streetTacos div {
    margin: 10px;
}
dl {
    width: 100%;
    overflow: hidden;
  }
  dt {
    float: left;
    width: 50%;
    padding: px;
    margin: 0;
  }
  dd {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
  }
ol{
    text-align: left;
    line-height: 20pt;
    margin:10px;
}
h1{
    font-size:40px;
}
h2{
    font-size:30px;
}
h3{
    font-size:25px;
}
nav a, nav span, #mainNav li,#socialsNav li, footer{
    font-size:20px;
}
p, dd, li, nav, input {
    font-family: Montserrat;
    font-size: 16px;
}
dt {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
}
nav li{
    list-style-type: none;
    margin:0;
}

nav a{
text-decoration: none;
color:#EB5428;
}
#sideDishes{
    background-color:#7ABFBF;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px;
}
#sideDishes h4{
    visibility: hidden;
    height:1px;
}

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F2F2F2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: auto;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
}
#mainNav input[type=text]{
padding: 10px;
border:2px solid #EB5428;
}
footer h2{
    visibility: hidden;
    height:0px;
}
footer{
    text-align: center;
}
#socialsNav h3{
    visibility: hidden;
    height: 0px;
}
#socialsNav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media  screen and (min-width: 768px) {
    
}

@media  screen and (min-width: 1280px) {
    
}